<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
   <head th:replace="fragments :: head">
   </head>
   <body>

      <div th:replace="fragments :: page-header"></div>

      <div class="container body-content">

      <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

      <form method="post" style="max-width:600px;">
      <div class="form-group">
         <label th:for="jobID">Product Id:
            <p th:name="jobID" th:text="${job.id}"></p>
            <span th:errors="${job.id}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="name">Product Name:
            <select th:name="name">
               <option th:value="0" disabled selected hidden>Choose a product!</option>
               <option th:each="job : ${jobs}"
                    th:text="${job.name}"
                    th:value="${job.id}"></option>
            </select>
         </label>
      </div>
      <div class="form-group">
         <label th:for="employer">Category:
            <p th:name="employer" th:if="${job.employer}" th:text="${job.employer.name}" >No Category Assigned!</p>
            <span th:errors="${job.employer.name}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="amount">Amount:
            <input class="form-control" th:name="amount" th:field="${job.amount}" />
            <span th:errors="${job.amount}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="lowThreshold">Low Threshold:
            <input class="form-control" th:field="${thresholds.lowThreshold}"
                   th:name="lowThreshold" />
            <span th:errors="${thresholds.lowThreshold}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="highThreshold">High Threshold:
            <input class="form-control" th:field="${thresholds.highThreshold}"
                  th:name="highThreshold"/>
            <span th:errors="${thresholds.highThreshold}" class="error"></span>
         </label>
      </div>
      <input type="submit" value="Update Inventory" />
     </form>
    </div>
  </body>
</html>