<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
   <head th:replace="fragments :: head">
   </head>
   <body>

      <div th:replace="fragments :: page-header"></div>

      <div class="container body-content">

      <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

      <form method="post" style="max-width:600px;">
      <div class="form-group">
         <label th:for="name">Product Id:
            <p th:text="${job.id}"></p>
            <span th:errors="${job.id}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="name">Product Name:
            <select name="jobId">
               <option th:each="job : ${jobs}"
                    th:text="${job.name}"
                    th:value="${job.id}"></option>
            </select>
         </label>
      </div>
      <div class="form-group">
         <label th:for="name">Category:
            <p th:text="${job.employer.name}"></p>
            <span th:errors="${job.employer.name}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="name">Amount:
            <input class="form-control" th:field="${job.amount}" />
            <span th:errors="${job.amount}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="name">Low Threshold:
            <input class="form-control" th:field="${thresholds.lowThreshold}" />
            <span th:errors="${thresholds.lowThreshold}" class="error"></span>
         </label>
      </div>
      <div class="form-group">
         <label th:for="name">High Threshold:
            <input class="form-control" th:field="${thresholds.highThreshold}" />
            <span th:errors="${thresholds.highThreshold}" class="error"></span>
         </label>
      </div>
      <input type="submit" value="Update Inventory" />
   </form>
      </div>
  </body>
</html>