<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">    <meta charset="UTF-8">
<div align="center">
    <title>List Category</title>
    <nav th:replace="fragments :: page-header"></nav>
    <h1> List Category </h1>
    <br/>
    <table border="1" cellpadding="10">
        <thead class="">
        <tr>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <div th:if="${message}" th:text="${message}"></div>


        <tbody>
        <th:block th:each="category: ${listCategory}">
            <tr>

                <td><a th:href="@{'/categories/show/' + ${category.id}}" th:text="${category.name}"></a></td>


                <td>
                    <a  th:href="@{'/categories/edit/'+ ${category.id}}">Edit</a>
                    <form th:action="@{/categories/delete}" method="post">
                        <input type="hidden" name="id" th:value="${category.id}"/>
                        <input type="submit" value="Delete"></input>
                    </form>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>



</body>
</html>