<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${skills} and ${skills.size()}">no jobs!</p>

<div class="container body-content">
    <h2>Skills</h2>
    <ul>
        <li th:each="skill : ${skills}">
            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/skills/add'}">Add Skills</a>

</div>

</body>
</html>