<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">    <meta charset="UTF-8">
      <title>[[${pageTitle}]] </title>
      <nav th:replace="fragments :: page-header"></nav>
      <h1> [[${pageTitle}]] </h1>
    <form  th:object="${category}" method="post" style="max-width:600px;" th:action="@{/category/add}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input  th:field="*{name}" class="form-control" required minlength="4" maxlength="45"/>
<input type="hidden" th:field="*{id}">
    </div>


    <div class="form-group">
        <label th:for="category">Description</label>

            <input th:field="*{description}"class="form-control" type="text" name="category" required minlength="4" maxlength="45" >


    </div>

    <input type="submit" value="Add Product"/>
</form>


</body>
</html>