<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Product</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${product.name}" />
        <select name="productId">
        <option th:each="product : ${products}"
                th:text="${product.name}"
                th:value="${product.id}">
        </option>
        <span th:errors="${product.name}" class="error"></span>
        </select>
    </div>

    <div class="form-group">
        <label th:for="category">Categories</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
        <a th:href="@{'/categories/add'}">Add Category</a>
    </div>

    <div class="form-group">
        <label th:for="Description">Description</label>
        <input class="form-control" th:field="${product.description}" />
        <span th:errors="${product.description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="product">Amount</label>
        <input type="range" class="form-control" th:field="${product.amount}" value="24" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
        <output>24</output>
    </div>

    <input type="submit" value="Add Product" />
</form>

</body>
</html>