<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<div th:replace="fragments :: page-header"></div>
<h2>ProductPal</h2>

<table class="table-listing">
    <tr th:each="product : ${products}">
        <td>
            <p>
                Product Id:
                <a th:href="@{'/view/' + ${product.id}}" th:text="${product.id}"></a>
            </p>
            <p th:text="${'Name: ' + product.name}"></p>
            <p>
                Category:
                <a th:href="@{'/categories/list/' +" th:text="${product.category}"></a>
            </p>
            <p>
                Description:
            <ul th:each="description : ${product.description}">
                <li>
                    <a th:href="@{'/description/view/' +" th:text="${product.description}"></a>
                </li>
            </ul>
            </p>

        </td>

    </tr>
</table>

</body>
</html>