<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
  <script type="text/javascript" src="bootstrap.js"></script>
</head>
<body class="container body-content">
<header th:replace="fragments :: page-header"></header>

<div>
  <h2>Reset Your Password</h2>
</div>

<form th:action="@{/reset_password_form}" method="post">
    <input type="hidden" name="token" id="token" th:value="${token}" />
    <input type="hidden" name="username" th:value="${username}" />
    <input type="hidden" name="email" th:value="${email}" />

  <div class="form-group">
    <label>New Password
      <input class="form-control" th:field="${resetFormDTO.password}" name="password" id="password" type="password" />
    </label>
    <p class="error" th:errors="${resetFormDTO.password}"></p>
  </div>
  <div class="form-group">
    <label>Verify Password
      <input class="form-control" th:field="${resetFormDTO.verifyPassword}" type="password"/>
    </label>
    <p class="error" th:errors="${resetFormDTO.verifyPassword}"></p>
  </div>
  <input type="submit" class="btn btn-primary" value="Reset" />

</form>

</body>
</html>


