<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<nav th:replace="fragments :: page-header"></nav>
<h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<div class="product-listing">
    <p th:text="${'ID: ' + product.id}"></p>
    <p th:text="${'Name: ' + product.name}"></p>
    <p>
        Category:
        <a th:href="@{'/categories/show/' + ${product.category.id}}" th:text="${product.category}"></a>
    </p>
    <p th:text="${'Description: ' + product.description}"></p>
    <p th:text="${'Amount: ' + product.amount}"></p>
    <p th:text="${'Low Threshold: ' + product.lowThreshold}"></p>
    <p th:text="${'High Threshold: ' + product.highThreshold}"></p>
</div>

</body>
</html>

