<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <form method="post" style="max-width:600px;">
    <div class="form-group">
      <label th:for="productID">Product ID:
        <p th:name="productID" th:text="${product.id}" th:id="productID"
           th:field="${product.id}">No Product Selected</p>
        <span th:errors="${product.id}" class="error"></span>
      </label>
    </div>
    <div class="form-group">
      <label th:for="product">Product Name:
        <select th:name="product" required id="product">
          <option th:value="0" disabled selected hidden>Choose a product!</option>
          <option th:each="product : ${products}"
                  th:text="${product.name}"
                  th:value="${product.id}"
                  th:attr="amount=${product.amount}, highThreshold=${product.highThreshold}, lowThreshold=${product.lowThreshold}"
          >
          </option>
        </select>
      </label>
    </div>
      <p th:id="name" th:name="name" th:field="${product.name}" hidden></p>


    <div class="form-group">
      <label th:for="product">Amount</label>
      <input class="form-control" th:field="${product.amount}" th:id="amount"/>
      <span th:errors="${product.amount}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="product">Low Threshold</label>
      <input class="form-control" th:field="${product.lowThreshold}" th:id="lowThreshold"/>
      <span th:errors="${product.lowThreshold}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="product">High Threshold</label>
      <input class="form-control" th:field="${product.highThreshold}" th:id="highThreshold"/>
      <span th:errors="${product.highThreshold}" class="error"></span>
    </div>

    <script>
  window.addEventListener("load", function() {
    let dropdown = document.getElementById("product");
    dropdown.addEventListener("change", function (event) {
      let selectedOption = dropdown.options[dropdown.selectedIndex];
      document.getElementById("productID").innerHTML = dropdown.value;
      document.getElementById("amount").value = selectedOption.getAttribute("amount");
      document.getElementById("highThreshold").value = selectedOption.getAttribute("highThreshold");
      document.getElementById("lowThreshold").value = selectedOption.getAttribute("lowThreshold");
    });
  });
</script>
    <input type="submit" value="Update Inventory" />
  </form>
</div>
</body>
</html>