<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Products By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/jobs(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="employer : ${employers}">
                <a th:href="@{/list/jobs(column=employer,value=${employer.name})}" th:text="${employer.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="skill : ${skills}">
                <a th:href="@{/list/jobs(column=skill,value=${skill.name})}" th:text="${skill.name}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>